In [ ]:
import pandas as pd
import numpy as np
import scipy
from scipy.sparse import load_npz
from scipy.sparse import csr_matrix
from pandas.api.types import CategoricalDtype

from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
!pip install -U pyarrow
!python -m pip install featuretools

Requirement already up-to-date: pyarrow in /usr/local/lib/python3.6/dist-packages (1.0.1)
Requirement already satisfied, skipping upgrade: numpy>=1.14 in /usr/local/lib/python3.6/dist-packages (from pyarrow) (1.18.5)
Collecting featuretools
  Downloading https://files.pythonhosted.org/packages/a6/55/5e206fff0ecfec66e9d95248a9302b0d691f1312afa71e96323a83963e19/featuretools-0.20.0-py3-none-any.whl (287kB)
     |████████████████████████████████| 296kB 3.4MB/s
Requirement already satisfied: numpy>=1.13.3 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.18.5)
Requirement already satisfied: click>=7.0.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (7.1.2)
Collecting distributed>=2.12.0
  Downloading https://files.pythonhosted.org/packages/4e/39/665a3b952ac889839eead70813dbc638fe49be4c6217ed249fc06b6485fa/distributed-2.30.0-py3-none-any.whl (656kB)
     |████████████████████████████████| 665kB 10.2MB/s
Requirement already satisfied: psutil>=5.4.8 in /usr/local/lib/python3.6/dist-packages (from featuretools) (5.4.8)
Requirement already satisfied: pyyaml>=3.12 in /usr/local/lib/python3.6/dist-packages (from featuretools) (3.13)
Requirement already satisfied: cloudpickle>=0.4.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.3.0)
Requirement already satisfied: scipy>=0.13.3 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.4.1)
Requirement already satisfied: tqdm>=4.32.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (4.41.1)
Requirement already satisfied: pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1 in /usr/local/lib/python3.6/dist-packages (from featuretools) (1.1.2)
Requirement already satisfied: dask[dataframe]>=2.12.0 in /usr/local/lib/python3.6/dist-packages (from featuretools) (2.12.0)
Requirement already satisfied: msgpack>=0.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (1.0.0)
Requirement already satisfied: tblib>=1.6.0 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (1.7.0)
Requirement already satisfied: zict>=0.1.3 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (2.0.0)
Requirement already satisfied: tornado>=5; python_version < "3.8" in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (5.1.1)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (2.2.2)
Collecting contextvars; python_version < "3.7"
  Downloading https://files.pythonhosted.org/packages/83/96/55b82d9f13763be9d672622e1b8106c85acb83edd7cc2fa5bc67cd9877e9/contextvars-2.4.tar.gz
Requirement already satisfied: setuptools in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (50.3.0)
Requirement already satisfied: toolz>=0.8.2 in /usr/local/lib/python3.6/dist-packages (from distributed>=2.12.0->featuretools) (0.11.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.6/dist-packages (from pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (2.8.1)
Collecting fsspec>=0.6.0; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/4c/38/39b83c70ff47192255c15da1b602322cb9918682199d5c1d9cf128bdd531/fsspec-0.8.3-py3-none-any.whl (88kB)
     |████████████████████████████████| 92kB 7.2MB/s
Collecting partd>=0.3.10; extra == "dataframe"
  Downloading https://files.pythonhosted.org/packages/44/e1/68dbe731c9c067655bff1eca5b7d40c20ca4b23fd5ec9f3d17e201a6f36b/partd-1.1.0-py3-none-any.whl
Requirement already satisfied: heapdict in /usr/local/lib/python3.6/dist-packages (from zict>=0.1.3->distributed>=2.12.0->featuretools) (1.0.1)
Collecting immutables>=0.9
  Downloading https://files.pythonhosted.org/packages/99/e0/ea6fd4697120327d26773b5a84853f897a68e33d3f9376b00a8ff96e4f63/immutables-0.14-cp36-cp36m-manylinux1_x86_64.whl (98kB)
     |████████████████████████████████| 102kB 8.0MB/s
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.6/dist-packages (from python-dateutil>=2.7.3->pandas!=1.1.0,!=1.1.1,<2.0.0,>=0.24.1->featuretools) (1.15.0)
Collecting locket
  Downloading https://files.pythonhosted.org/packages/d0/22/3c0f97614e0be8386542facb3a7dcfc2584f7b83608c02333bced641281c/locket-0.2.0.tar.gz
Building wheels for collected packages: contextvars, locket
  Building wheel for contextvars (setup.py) ... done
  Created wheel for contextvars: filename=contextvars-2.4-cp36-none-any.whl size=7666 sha256=3c397b83e23884d41ccfeac230cd930e616ae79aba68570bf799d14dde603a3a
  Stored in directory: /root/.cache/pip/wheels/a5/7d/68/1ebae2668bda2228686e3c1cf16f2c2384cea6e9334ad5f6de
  Building wheel for locket (setup.py) ... done
  Created wheel for locket: filename=locket-0.2.0-cp36-none-any.whl size=4040 sha256=7a6f3ee448d77d9f98a42cc5d94463259c3dcd38110cbbb2ee901253c62f32af
  Stored in directory: /root/.cache/pip/wheels/26/1e/e8/4fa236ec931b1a0cdd61578e20d4934d7bf188858723b84698
Successfully built contextvars locket
ERROR: distributed 2.30.0 has requirement cloudpickle>=1.5.0, but you'll have cloudpickle 1.3.0 which is incompatible.
Installing collected packages: immutables, contextvars, distributed, featuretools, fsspec, locket, partd
  Found existing installation: distributed 1.25.3
    Uninstalling distributed-1.25.3:
      Successfully uninstalled distributed-1.25.3
Successfully installed contextvars-2.4 distributed-2.30.0 featuretools-0.20.0 fsspec-0.8.3 immutables-0.14 locket-0.2.0 partd-1.1.0

In [ ]:
trans = pd.read_parquet('/content/drive/My Drive/sber/Копия all_data.parquet')
trans = trans.drop(columns=['line_item_id','price','discount','master_category_id','parent_category_id'])
trans.head()

   user_id  order_id  ...  product_id       brand_name
0      525   5354800  ...       37548  Золотой Петушок
1      525   5354800  ...        5636      Хлебный Дом
2      525   5354800  ...       22107        Delicados
3      525   5354800  ...        2530          BonAqua
4      525   5354800  ...     3818486          Mirinda

[5 rows x 6 columns]

In [ ]:
orders = trans[['user_id', 'order_id']].dropna().drop_duplicates()
orders = orders.groupby(['user_id'])['order_id'].count().reset_index()
orders.columns = ['user_id', 'user_order_num']
trans = trans.merge(orders, how='left', on=['user_id'])

In [ ]:
trans_ = trans.groupby(['user_id', 'product_id'])['quantity'].sum().reset_index()

In [ ]:
trans_ = trans_.merge(orders, how='left', on=['user_id'])

In [ ]:
trans_

          user_id  product_id  quantity  user_order_num
0              51           0         9              17
1              51         159         1              17
2              51         397         2              17
3              51         407        16              17
4              51         456        20              17
...           ...         ...       ...             ...
46194231  3142966     6685882         1               1
46194232  3142966     6742924         1               1
46194233  3142966     6782782         1               1
46194234  3142966     6803534         1               1
46194235  3142966     7342765         1               1

[46194236 rows x 4 columns]

In [ ]:
items_in_trans = trans.groupby(['user_id', 'product_id'])['quantity'].sum().reset_index()
items_in_trans.columns = ['user_id', 'product_id', 'user_products_num']
items_in_trans

          user_id  product_id  user_products_num
0              51           0                  9
1              51         159                  1
2              51         397                  2
3              51         407                 16
4              51         456                 20
...           ...         ...                ...
46194231  3142966     6685882                  1
46194232  3142966     6742924                  1
46194233  3142966     6782782                  1
46194234  3142966     6803534                  1
46194235  3142966     7342765                  1

[46194236 rows x 3 columns]

In [ ]:
items_in_trans = items_in_trans.merge(trans_, how='left', on=['user_id', 'product_id'])

In [ ]:
items_in_trans

          user_id  product_id  user_products_num  quantity  user_order_num
0              51           0                  9         9              17
1              51         159                  1         1              17
2              51         397                  2         2              17
3              51         407                 16        16              17
4              51         456                 20        20              17
...           ...         ...                ...       ...             ...
46194231  3142966     6685882                  1         1               1
46194232  3142966     6742924                  1         1               1
46194233  3142966     6782782                  1         1               1
46194234  3142966     6803534                  1         1               1
46194235  3142966     7342765                  1         1               1

[46194236 rows x 5 columns]

In [ ]:
items_in_trans['mean_items_in_trans'] = items_in_trans.user_products_num / items_in_trans.user_order_num
items_in_trans['mean_items_in_trans_log_denom'] = items_in_trans.user_products_num / (1 + np.log(items_in_trans.user_order_num))
items_in_trans['mean_items_in_trans_log'] = np.log(items_in_trans.user_products_num /items_in_trans.user_order_num + 0.001)

In [ ]:
items_in_trans = items_in_trans.drop(columns=['quantity','user_products_num'])
items_in_trans

          user_id  ...  mean_items_in_trans_log
0              51  ...                -0.634102
1              51  ...                -2.816356
2              51  ...                -2.131602
3              51  ...                -0.059563
4              51  ...                 0.163369
...           ...  ...                      ...
46194231  3142966  ...                 0.001000
46194232  3142966  ...                 0.001000
46194233  3142966  ...                 0.001000
46194234  3142966  ...                 0.001000
46194235  3142966  ...                 0.001000

[46194236 rows x 6 columns]

In [ ]:
items_in_trans.to_csv('/content/drive/My Drive/sber/trans_features.csv')